@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

:root {
--black: #111;
--white: #fff;
--whiteDark: #fafafa;
--secondaryColor: #515f80;
--fontfamily: 'Ceviche One', cursive;
--boxshedow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
--outline: .1rem solid rgba(0, 0, 0, .1);
--outlinehover: .1rem solid var(--black);
--lightcolor: rgba(7, 7, 7, 0.774);
--title: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}


* {
box-sizing: border-box;
margin: 0;
padding: 0;
scroll-padding-top: 5rem;
outline: none;
border: none;
scroll-behavior: smooth;
transition: .2s linear;
font-weight: 300;
}

html::-webkit-scrollbar {
width: 1rem;
}

html::-webkit-scrollbar-track {
background: var(--white);
}

html::-webkit-scrollbar-thumb {
background-color: var(--secondaryColor);
border-radius: 5px;
}



html {
font-size: 75%;
overflow-x: hidden;
 }


 body {
 overflow-x: hidden;
 font-family: 'Poppins', sans-serif;
 }


 @keyframes fadeIn {
     0%{
     transform: translateY(0rem);
     opacity: 0;
     }

     50%{
     transform: translateY(3rem);
     opacity: 1;
     }
 }


 @media (max-width: 968px) {
 html{
 font-size: 70%;
             
}
 }


    
 @media (max-width: 768px) {
 html{
font-size: 65%;
}
 

.about .conten h3 {
font-size: 2rem;
}

.about {
text-align: center;
}

.about h4 {
font-size: 1.5rem;
}

.about .conten p {
font-size: 1.2rem;
line-height: 1.5rem;
padding-bottom: .2rem;
}

.about .btn {
padding: 1.2rem 3rem;
font-size: 1rem;
display: inline-block;
}


.home .btn {
 padding: 1.2rem 3rem;
 font-size: 1rem;
 display: inline-block;
 color: var(--white);
}



 /*--pricing section*/
 .pricing .pricing-container .box .fas{
font-size: 2.5rem;
 }

 .pricing .pricing-container .box li {
    font-size: 1.7rem;
    line-height: 3.4rem;
    font-weight: 300;
 }

 /*--end price container*/

 /*--footer*/
 .footer .contact-container {
display: flex;
flex-wrap: wrap;
flex: 1 1 10rem;
gap: 60px;
text-align: center;

 }


}

    
 @media (max-width: 400px) {

 html{
font-size: 65%;
 }


 
.about .btn {
    padding: 1.2rem 2rem;
    font-size: 1rem;
    }
    
    
    .home .btn {
     padding: 1.2rem 2rem;
     font-size: 1rem;
    }
    
    .services .btn {
    padding: 1.2rem 2rem;
    font-size: 1rem;
     }

     .footer .contact-container {
    display: flex;
    flex-wrap: wrap;
     gap: 10px;
    text-align: center;
     }
        

.footer .contact-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 15rem;
    gap: 10px;

}


}
       



/*--navbar*/
.navbar{
background: var(--whiteDark);
height: 70px;
width: 100%;
box-shadow: var(--boxshedow);
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
z-index: 999;
transform: translateY(-10rem);
transition: all .3s ease;

}

.navbar.activ {
transform: translateY(0rem);
transition: all .2s ease-in; 
}

.navbar__menu {
display: flex;
padding: 2rem;
}

.navbar .navbar__menu .navbar__links .fa-user {
color: var(--black);
font-size: .9rem;
display: inline;
}


.navbar__menu  .color {
color: var(--secondaryColor);
}

.navbar__logo{
color: var(--black);
text-decoration: none;
padding-left: 1rem;
font-size: 1.7rem;
font-weight: bold;
letter-spacing: .1rem;
font-family: var(--fontfamily);
}

.color {
color: var(--secondaryColor);
}

.navbar__links {
list-style: none;
}

.navbar__link{
color: var(--black);
text-decoration: none;
font-size: 1.6rem;
padding: 0 0.8rem;
}

.navbar .navbar__menu .navbar__links .btn {
display: inline;
font-size: .8rem;
padding: .8rem 1.5rem;
}

.navbar__link:hover{
color: var(--secondaryColor);
transition: all 0.3s ease-in-out;
padding-right: 2rem;
}

.navbar__toggle .bar{
width: 28px;
height: 3px;
border-radius: 7px;
margin: 5px auto;
background: var(--black);
display: block;
cursor: pointer;
transition: all 0.3s ease-out; 
}

 #mobile-menu{
position: absolute;
display: none;
top: 15%;
right: 5%;
transform: translate(5%, 35%);
}


.navbar .navbar__menu .fas {
position: fixed;
color: var(--white);
font-size: 1.5rem;
right: 2rem;
}


 #mobile-menu.is-active .bar:nth-child(2){
transform: translate(500px);
transition: all .4s ease;
background-color: var(--secondaryColor);
}

 #mobile-menu.is-active .bar:nth-child(1){
 transform: translateY(8px) rotate(405deg);
 transition: all .4s ease;
 background-color: var(--secondaryColor);
}

#mobile-menu.is-active .bar:nth-child(3){
 transform: translateY(-8px) rotate(-405deg);
 transition: all .4s ease;
 background-color: var(--secondaryColor);
}

.navbar__menu.active {
 opacity: 1;
 top: 70px;
background: var(--whiteDark);
box-shadow: var(--boxshedow);
transition: all 0.3s ease;
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


@media (max-width: 768px) {
.navbar__menu{
position: absolute;
display: inline-block;
justify-content: center;
text-align: center;
transition: all .1s ease-out;
clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
left: 0;
right: 0;
background: var(--black);
}

.navbar__link {
font-size: 2rem;
text-transform: uppercase;
}

.navbar .navbar__links {
padding: .8rem 0;
}

#mobile-menu{
display: block;
}


.navbar .navbar__menu .navbar__links .btn {
display: inline-block;
font-size: .8rem;
padding: 1.2rem 1.5rem;
text-align: center;
font-size: 1.2rem;
width: 100%;
}

}
/*--end navbar*

/*--home section*/

.home-title {
font-size: 2.5rem;
font-family: var(--fontfamily);
font-weight: bold;
letter-spacing: 0.1rem;
margin-bottom: 0.9rem;
}

.home-title span {
color: var(--secondaryColor);
}

.home__desc {
font-size: 1.2rem;
padding-bottom: 1.3rem;
text-align: center;
max-width: 400px;
margin: 0 auto;
line-height: 1.9rem;
color: var(--secondaryColor);
text-transform: uppercase;
font-weight: bold;
}

.home {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
position: relative;
}

.home .content {
text-align: center;
color: var(--white);
}

.btn {
padding: 1.1rem 3rem;
border: var(--secondaryColor) 1px solid;
border-radius: 5px;
text-decoration: none;
outline: none;
color: var(--black);
font-size: 1.2rem;
display: inline-block;
}

.btn:hover {
background: var(--secondaryColor);
color: var(--black);
transition: all 0.3s ease-in;
}

.home .video-container {
position: absolute;
top: 0;
left: 0;
z-index: -1;
width: 100%;
}

.home .video-container video {
width: 100%;
height: 100vh;
object-fit: cover;
}

.home .video-container::after {
content: '';
background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9) 100%);
width: 100%;
height: 100vh;
bottom: 0;
z-index: 66;
top: 0;
left: 0;
position: absolute;
opacity: .9;
}


.home .btn{
color: var(--white);
}

@media (max-width: 768px) {
.home-title {
font-size: 2rem;
 }

 .home__desc {
 font-size: 1rem;
 line-height: 1.5rem;
 max-width: 330px;
 text-align: center;
 margin: 0 auto;
 margin-bottom: .9rem;
 }

}


/*--about section*/
.about {
display: flex;
padding: 5rem;
align-items: center;
justify-content: center;
flex-wrap: wrap;
background: var(--white);
color: var(--black);
}
    
.conten h3 {
font-size: 2rem;
text-transform: uppercase;
font-weight: bold;
margin-bottom: 1rem;
}
    
.conten h3 span {
color: var(--secondaryColor);
}
    
 .about p {
margin-top: .4rem;
margin-bottom: 1rem;
font-size: 1rem;
line-height: 2rem;
max-width: 500px;
border-bottom: 1px solid var(--secondaryColor);
}

.about h4 {
font-size: 1.5rem;
}

.about .conten {
padding-top: 3rem;
}
    
    
.about__title {
text-align: center;
padding-bottom: 4rem;
font-size: 2rem;
color: var(--white);
}

/*--swiper*/

.about .swiper-slide img{
width: 22rem;
height: 22rem;
}


/*--end about*/
 
/*--services*/
.services {
padding-top: 9rem;
padding-bottom: 3rem;
background: var(--whiteDark);
}

.services__title {
font-size: 2rem;
color: var(--black);
text-align: center;
padding-top: 2rem;
padding-bottom: 2rem;
}

.services__title span {
clip-path: var(--title);
background: var(--secondaryColor);
padding: .8rem 2rem;
}

.services .box-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 15px;
align-items: center;
padding: 1.5rem;
}

.services .box-container .box {
box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
border-radius: .6rem;
text-align: center;
display: grid;
width: 250px;
height: 250px;
}

.services .box-container .box .content{
 margin-top: 3rem;
}


.services .box-container .box .content h3 {
font-size: 2rem;
 color: var(--secondaryColor);
}


.services .box-container .box .content p {
font-size: 1rem;
color: #444;
padding: .5rem;
padding-bottom: 1rem;
}



.services .content i {
font-size: 2.5rem;
margin-top: 1rem;
}


.services .box-container .box .content img{
width: 4rem;
height: 4rem;
}


.services .box-container .box .icons{
 margin-bottom: .8rem;
}

/*--gallery section*/
.gallery {
background: var(--white);
padding-top: 10rem;
}

.images-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 100%;
margin: 0 auto;
}

.images-container a{
height: 150px;
width: 150px;
margin: 10px;
border-radius: 5px;
overflow: hidden;
box-shadow: var(--boxshedow);
border: 3px solid var(--white);
}

.images-container a img{
height: 100%;
width: 100%;
object-fit: cover;
}

.images-container a img:hover{
transform: scale(1.1);
}
/*--end gallery*/


/*--pricing section*/
.pricing{
padding-top: 6rem;
background: var(--whiteDark);
text-align: center;
}

.pricing h1 {
color: var(--black);
}

.pricing .services__title span{
 background-color: var(--secondaryColor);
}



.pricing .swiper-slide{
 height: 30rem;
 color: var(--black);
}



.pricing .prices{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}


.pricing .box h3{
font-size: 2rem;
font-weight: bold;
letter-spacing: .4rem;
padding-top: 6rem;
text-transform: uppercase;
padding-bottom: 1rem;
color: var(--secondaryColor);
}

.pricing .box .box-title {
padding: .5rem 1.4rem;
}

.pricing .box li {
font-size: 1.2rem;
line-height: 2.5rem;
font-weight: 300;
list-style: none;
text-transform: uppercase;
}



.swiper-pagination  .swiper-pagination-bullet{
 background-color: var(--secondaryColor);
 width: 2rem;
}


/*--end pricing*/

/*--footer*/
.footer{
background: var(--whiteDark);
padding-top: 6rem;
padding-bottom: 2rem;
background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1) 100%),
 url(./images/contactsimg.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.footer .contact-container{
padding-top: 5rem;
display: flex;
justify-content: space-evenly;
text-align: start;
color: var(--white);
}

.footer .contact-container .time .time__icons{
display: flex;
flex-direction: column;
}

.footer .contact-container h3{
font-size: 1.7rem;
font-weight: bold;
padding-bottom: .1rem;
border-bottom: 2px solid var(--secondaryColor);
}

.footer .contact-container .links li {
padding: .3rem 0;
}

.footer .contact-container .links li{
list-style: none;
line-height: 1.5rem;
font-size: 1.1rem;
}

.footer .contact-container .links li a{
text-decoration: none;
color: var(--white);
}

.footer .contact-container .links li a:hover{
color: var(--secondaryColor);
}

.footer .contact-container .contacts p {
font-size: 1.1rem;
padding: .4rem 0;
}

.footer .contact-container .time .time__icons .fa-calendar-alt span{
font-size: 1rem;
padding: 1.3rem ;
color: var(--white);
}



.footer .contact-container .time .time__icons .far{
font-size: 1.9rem;
color: var(--secondaryColor);
padding: .4rem;
}

.footer .footer__content{
padding-top: 5rem;
text-align: center;
}

.footer .footer__content .icons {
padding-bottom: 1rem;
}

.footer .footer__content .icons a{
font-size: 3rem;
text-decoration: none;
color: var(--secondaryColor);
padding-bottom: 1rem;
margin: .3rem;
}

.footer .footer__content .icons a:hover{
color: var(--white);
}

.footer .services__title {
color: var(--white);
}

.footer .footer__content p{
color: var(--white);
font-size: .7rem;
padding-top: .5
8rem;
}


.map{
 text-align: center;
 margin-top: 1rem;
}



@media (max-width: 768px) {
 .about .conten p{
  line-height: 2.2rem;
  font-size: 1.2rem;
  margin-bottom: .8rem;
  max-width: 330px;
 }

 .home .home-title {
 text-align: center;
 max-width: 350px;
 margin: 0 auto;
 font-size: 2.5rem;
 margin-bottom: .5rem;
 }

 .home .content p{
 max-width: 250px;
 text-align: center;
 line-height: 2rem;
 font-size: 1.2rem;
 }

 .navbar .navbar__logo{
 font-size: 2rem;
 }


 .pricing .mano{
 display: block;
 width: 100%;
 padding: 2rem;
 }

 .footer .map iframe{
 width: 100%;
 text-align: center;
 padding: 1.5rem;
 }

}



 








    
    
    
    
    
    
    


